#container {
    display: grid;
    grid-template: 1fr 3fr 1fr / 10px 9fr 10px;
    border: 1px solid black;
    height: 100wh;
    width: 100vw;
}
#header {
    display: flex;
    flex-direction: row;
    grid-column: 1 / 4;
    border: 1px solid lawngreen;
    height: 50px;
    background-color: black;
    align-items: center;
    justify-content: space-between;
}
#main-nav {
    border: 2px solid orange;
    margin-right: 10px
}
.header-button {
    height: 50px;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2em;
    margin-right: 2em;
}
#main-atlantic-image {
    height: 40px;
    width: 100px;
    border: 1px solid yellow;
    /* margin-left: -10px; */
}
#main-button {
margin-left: 5px;
}
#content-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border: 1px solid black;
    /* grid-template-columns: 1fr 3fr 1fr; */
    height: auto;
    width: auto;
}
#left-sidebar {
    grid-column: 1 / 3;
    display: grid;
    grid-row: 1fr 1fr;
    height: 556px;
    width: 246.5 px;
}
.left-sidebar-image {
    height: 133.45px;
    width: 237.25px;
}
.trump-solo {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.old-man {
    grid-row: 2 / 3;
}
.text {
    font-size: .5rem;
    align-self: flex-end;
}
#main-content {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    flex-basis: 90%;
}
.main-content-image {
    height: 302.91px;
    width: 538.5px;
}
#right-sidebar {
    grid-column: 3 / 4;
    display: flex;
    flex-direction: column;
}
.right-sidebar-image {
    height: 78px;
    width: 78px;
}